<div class="ad">
    {{#unless isMobile}}
        <a href="https://www.animethemes.moe" target="_blank">
            <img src="/static/images/animethemes-ad.avif" alt="AnimeBracket is brought to you by AnimeThemes.moe" />
        </a>
    {{/unless}}
</div>
